{{ $rating := int ($.Param "rating") }}
<div class="h3" aria-label="Score is {{ $rating }} out of 5">
  {{ range $i, $sequence := (seq 5) }}
    {{ if lt $i $rating }}
      {{ if eq (sub $rating $i) 0.5 }}
        <i class="fa fa-star-half-o text-warning" aria-hidden="true"></i>
      {{ else }}
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
      {{ end }}
    {{ else }}
      <i class="fa fa-star-o text-warning" aria-hidden="true"></i>
    {{ end }}    
  {{ end }}
</div>
